!!!5
html
  head
    block head
      link(href='/build.css',rel='stylesheet')
      script(src='/build.js')
      link(href='/gitweb.css',rel='stylesheet')
      :coffeescript
        window.$ = require 'layerssss-todc-bootstrap'
      style
        [class^="icon-"], [class*=" icon-"]
        {
          background-image:none;
        }
  body
    //navbar
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand(href='/')=settings.hostname
          ul.nav
            li
              a(href='/') repositories
            li
              a(href='/peers/') peers
    div.visible-desktop(style='height:40px')
    //navbar
    .main
      .container-fluid
        block body
    footer
      .container-fluid
        